
/* Carrossel de imagem */

section .carrossel {
    margin: 0 auto 40px;
    position: relative;
}

section .carrossel a img {
    width: 100%;
    height: 300px;

    object-fit: cover;
}

section .carrossel .carrosselItem,
section .carrossel .itemInvisivel {
    display: none;
}

section .carrossel .carrosselItem.selected {
    opacity: 1;
}

section .carrossel .itemVisivel {
    display: block;
    animation: transicaoImagem 0.5s;
}

section .carrossel .botoesCarrossel {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}

section .carrossel div + div  {
    right: 0%;  
}

section .carrossel .botoesCarrossel button {
    border-radius: 50%;
    border: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 3rem;    
    width: 40px;
    height: 40px;
    opacity: 50%;
    cursor: pointer;
}

/* Lista de produtos */

main {
    margin: 30px 0;
    height: 100%;
    margin-bottom: 50px;
}

section.maisVendidos {
    width: 90%;
    max-width: 1220px;
    margin: 0 auto;

}

h2 {
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 2.8rem;
}

h2::after {
    content: '';
    width: 50px;
    height: 5px;
    background-color: var(--dark-gray);
    display: block;
    margin: 5px 0 15px; 
}

section.maisVendidos .produtosContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(210px, 1fr));
    grid-gap: 20px;

    padding: 20px;
} 

section.maisVendidos .produtosContainer .produto {
    border: solid 1px #f1ebeb;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #ececec;  
    background-color: var(--white);  
    transition: all 300ms;
}


section.maisVendidos .produtosContainer .produto a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 25px; 
    height: 360px;

}

section.maisVendidos .produtosContainer .produto:hover {
    border: 1px solid rgb(207, 206, 206);
    border-radius: 5px;
}   

section.maisVendidos .produtosContainer .produto a .infoProduto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    color: var(--black) ;
}

.produtosContainer .produto a .infoProduto p {
    color: var(--light-gray);
    font-size: 1.8rem;
    margin-bottom: 10px; 

}

.produtosContainer .produto a .infoProduto strong {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

section.maisVendidos .produtosContainer .produto a img{
    width: 100%;
    max-height: 190px;
    padding: 10px;

    max-width: 200px;
    object-fit: cover;

}


@keyframes transicaoImagem {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
        transform: opacity 800ms;
    }
}

@media screen and (max-width: 980px) {
    section.maisVendidos .produtosContainer {
        grid-template-columns: repeat(3, minmax(210px, 1fr));
    } 
}

@media screen and (max-width: 750px) {
    section.maisVendidos .produtosContainer {
        grid-template-columns: repeat(2, minmax(210px, 1fr));
    } 
}

@media screen and (max-width: 520px) {
    section.maisVendidos .produtosContainer {
        grid-template-columns: repeat(1, minmax(210px, 400px));
    } 

    main {
        height: auto;
    }
}